@using E_Commerce.Models
@using PagedList.Mvc
@model  PagedList.IPagedList<BaiViet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Blog.cshtml";
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-lg-last ftco-animate fadeInUp ftco-animated">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-12 d-flex ftco-animate fadeInUp ftco-animated">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <a href="#" class="block-20" style="background-image: url('/Content/images/image_1.jpg');">
                                </a>
                                <div class="text d-block pl-md-4">
                                    <div class="meta mb-3">
                                        <div><a href="#">@item.NgayDang</a></div>
                                        <div><a href="#">@item.TenTG</a></div>
                                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                    </div>
                                    <h3 class="heading"><a href="#">@item.TenBV</a></h3>
                                    <p>@item.ndTomtat</p>
                                    <p><a href="@Url.Action("blogDetail", "Blog", new {maBV= item.MaBV} )" class="btn btn-primary py-2 px-3">Đọc thêm</a></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li>@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, @lPost = ViewBag.lPost }))</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->
