@using E_Commerce.Models
@model BinhLuan

@{
    ViewBag.Title = "XemChiTiet";
    SanPham productDetail = ViewData["product"] as SanPham;
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css" rel="stylesheet" />


<div class="row">
    <div class="col-lg-6 mb-5 ftco-animate fadeInUp ftco-animated">
        <a href=@Url.Content("~/Content/images/SanPham/" + productDetail.HinhAnh) class="image-popup prod-img-bg"><img src=@Url.Content("~/Content/images/SanPham/" + productDetail.HinhAnh) class="img-fluid" alt="Colorlib Template"></a>
    </div>
    <div class="col-lg-6 product-details pl-md-5 ftco-animate fadeInUp ftco-animated">
        <h3>@productDetail.TenSP</h3>
        <p class="price"><span>@productDetail.DonGia.Value.ToString("#,##") VND</span></p>
        <p>@productDetail.ThongTin</p>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="form-group d-flex">
                    <div class="select-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="" id="" class="form-control">
                            <option value="">Small</option>
                            <option value="">Medium</option>
                            <option value="">Large</option>
                            <option value="">Extra Large</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="input-group col-md-6 d-flex mb-3">
                <span class="input-group-btn mr-2">
                    <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                        <i class="ion-ios-remove"></i>
                    </button>
                </span>
                <input type="text" id="quantity" name="quantity" data-cart="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                <span class="input-group-btn ml-2">
                    <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                        <i class="ion-ios-add"></i>
                    </button>
                </span>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
                <p style="color: #000;">Số lượng hàng còn: @productDetail.SoLuongTonKho</p>
            </div>
        </div>
        <p>
            @Ajax.ActionLink("AddCart", "AddCart", "Cart", new { @MaSP = Model.MaSP }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "Cart", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-black py-3 px-5 mr-2" })
            <a href="cart.html" class="btn btn-primary py-3 px-5">Buy now</a>
        </p>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 nav-link-wrap">
            <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link ftco-animate active mr-lg-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Mô tả sản phẩm</a>

                <a class="nav-link ftco-animate mr-lg-1" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Thông tin nhà sản xuất</a>

                <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Đánh giá</a>

            </div>
        </div>
        <div class="col-md-12 tab-wrap">

            <div class="tab-content bg-light" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
                    <div class="p-4">
                        <p>@productDetail.MoTa</p>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
                    <div class="p-4">
                        <p>@productDetail.NhaSanXuat.ThongTin</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
                    <div class="row p-4">
                        <div class="col-md-7">
                            @if (Session["TaiKhoan"] == null)
                            {
                                <a href="@Url.Action("DangNhap", "Home")">Đăng nhập để bình luận !</a>
                            }
                            else
                            {
                                using (Html.BeginForm("postComment", "SanPham", FormMethod.Post))
                                {
                                    <h3 class="mb-4">Hãy để lại bình luận !</h3>
                                    @Html.TextAreaFor(model => model.NoiDung, new { cols = 50, rows = 5 })
                                    <br />
                                    <div id="rateYo"></div>
                                    <input type="hidden" id="rating" name="rating" />
                                    <br />
                                    <input class="btn btn-black py-3 px-5 mr-2" type="submit" value="Bình luận" />
                                    @Html.HiddenFor(n => n.MaSP)
                                }
                            }

                        </div>
                        <div class="col-md-4">
                            <div class="rating-wrap">
                                <h3 class="mb-4">Bình luận</h3>
                                <div class="desc">
                                    @{ int i = 1;}
                                    @foreach (var review in productDetail.BinhLuans)
                                    {
                                        <p>@review.ThoiGian</p>
                                        <strong>@review.ThanhVien.TaiKhoan</strong>
                                        <p class="star">
                                            <script>
                                                $(function () {

                                                    $("#@("rating" + i)").rateYo({
                                                        rating: @review.Rating,
                                                        readOnly: true
                                                    });
                                                });
                                            </script>
                                            <div id="@("rating" + i)"></div>
                                        </p>
                                        <p>@review.NoiDung</p>
                                        i++;
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/jquery.rateyo.min.js"></script>
<link rel="stylesheet" href="~/Content/css/jquery.rateyo.css" />
<script src="~/Content/js/jquery.rateyo.js"></script>

<script>
    /* Javascript */

    $(function () {

        $("#rateYo").rateYo({
            rating: 0,
            numStars: 5,
            maxValue: 5,
            halfStar: true,
            onChange: function (rating, rateYoInstance) {
                $('#rating').val(rating);
            }
        });
    });
</script>


