@using E_Commerce.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPage/Views/Shared/_LayoutPage.cshtml";
    List<BaiViet> post = ViewData["ListPost"] as List<BaiViet>;
}


<div class="content-wrapper" style="min-height: 916.275px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Simple Tables
            <small>preview of simple tables</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Simple</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Danh sách tất cả bài viết</h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Mã Bài Viết</th>
                                    <th>Người Đăng</th>
                                    <th>Ngày Đăng</th>
                                    <th>Trạng thái</th>
                                    <th>Nội Dung</th>
                                </tr>
                                @foreach (BaiViet bv in post)
                                {
                                    <tr>
                                        <td>@bv.MaBV</td>
                                        <td>@bv.TenTG</td>
                                        <td>@bv.NgayDang</td>
                                        <td>@bv.TenBV</td>
                                        <td>
                                            @using (Html.BeginForm("activePost", "Post", FormMethod.Post))
                                            {
                                                <input hidden name="maBV" value="@bv.MaBV" />
                                                <button class="label label-success">Duyệt Bài Viết</button>
                                            }
                                            @using (Html.BeginForm("deletePost", "Post", FormMethod.Post))
                                            {
                                                <input hidden name="maBV" value="@bv.MaBV" />
                                                <button class="label label-danger">Xóa Bài Viết</button>
                                            }
                                            @using (Html.BeginForm("updatePost", "Post", FormMethod.Post))
                                            {
                                                <input hidden name="maBV" value="@bv.MaBV" />
                                                <button class="label label-warning">Sửa Bài Viết</button>
                                            }


                                        </td>
                                    </tr>
                                }
                                @*<tr>
                                        <td>183</td>
                                        <td>John Doe</td>
                                        <td>11-7-2014</td>
                                        <td><span class="label label-success">Đã Duyệt</span></td>
                                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                    <tr>
                                        <td>175</td>
                                        <td>Mike Doe</td>
                                        <td>11-7-2014</td>
                                        <td><span class="label label-danger">Chưa Duyệt</span></td>
                                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>*@
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

