@using E_Commerce.Models
@using PagedList.Mvc
@model  PagedList.IPagedList<SanPham>
@{
    ViewBag.keyword = "keyword";
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Layout/Shop.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div class="container">
    <div id="view" class="row">
        <div class="col-md-8 col-lg-10 order-md-last">
            <div id="search-result" class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                        <div class="product d-flex flex-column">
                            <a href="@Url.Action("XemChiTiet", "SanPham", new {id=item.MaSP} )" class="img-prod">
                                <img class="img-fluid" src=@Url.Content("~/Content/images/SanPham/"+item.HinhAnh) alt="Colorlib Template">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3">
                                <div class="d-flex">
                                    <div class="cat">
                                        <span>Lifestyle</span>
                                    </div>
                                    <div class="rating">
                                        <p class="text-right mb-0">
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        </p>
                                    </div>
                                </div>
                                <h3><a href="#">@item.TenSP</a></h3>
                                <div class="pricing">
                                    <p class="price"><span>@item.DonGia.Value.ToString("#,##") VND</span></p>
                                </div>
                                <p class="bottom-area d-flex px-3">
                                    <a href="@Url.Action("AddCart", "Cart", new {@MaSP = item.MaSP, @strUrl = Request.Url.ToString()})" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                    <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-4 col-lg-2">
            <div class="sidebar">
                <div class="sidebar-box-2">
                    @using (Ajax.BeginForm("SearchResult", "Search", null, new AjaxOptions { UpdateTargetId = "search-result", InsertionMode = InsertionMode.Replace }, new { @class = "search-form" }))
                    {
                        <div class="form-group">
                            <span class="icon ion-ios-search"></span>
                            <input type="text" name="keyword" class="form-control" placeholder="Type a keyword and hit enter">
                        </div>
                    }
                </div>

                <div class="sidebar-box-2">
                    <h2 class="heading">Categories</h2>
                    <div class="fancy-collapse-panel">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            @foreach (var lsSP in Model.GroupBy(n => n.LoaiSanPham))
                            {
                                if (lsSP.Key != null)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a href="@Url.Action("MiniSearch", "Search", new { @MaLoaiSP = lsSP.Key.MaLoaiSP})">
                                                    @lsSP.Key.TenLoaiSP
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="row mt-5">
        <div class="col text-center">
            <div class="block-27">
                <ul>
                    <li>@Html.PagedListPager(Model, page => Url.Action("Shop", new { page = page, @lsSP = ViewBag.lsSP }))</li>
                </ul>
            </div>
        </div>
    </div>
